/* ---------Main section--------- */

main {
    margin: 0px 15%;
    padding: 8.8em 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 5px #3a313f;
    /* box-shadow: 0px 0px 60px 10px #eee5e5;  */

}

main h1 {
    color: rgb(59, 71, 74);
    font-size: 35px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    text-decoration: underline;
}

.block {
    text-align: center;
    margin: 0px 50px 40px;

}


main div h2{
    color: rgb(43, 51, 55);
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
}

main div img {
    align-content: center;
    max-width: 70%;
    height: auto;
    padding: 5px 0px;
    border-radius: 30px;
    
}

main div p {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0px 30px;
    color: #646569;
    text-align: justify;
}

#more{
    display: none;
}

#myBtn{
    background: none;
    border: none;
    font-size: 1em;
    color: #322ea4e2;
}

#myBtn:hover{
    color: #000;
    cursor: pointer;
}

.sub-grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 30px;
    background-color: rgba(155, 127, 127, 0.2);
    margin-bottom: 2%;
    align-content: center;
}

.sub-grid-item{
    margin: 0px 50px 0px;
}

.music-icon {
    max-width: 35%;
    align-content: center;

}

video {
    position: relative;
    width: 100%;
    height: 80%;
    margin-bottom: 18px;
}

hr {
    border-top: 2px solid;
}


@media (max-width: 768px) {
    .sub-grid-container{
        grid-template-columns: auto;
    }
    main {
        margin: 0px 20px;
    }

}

