* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Satisfy', cursive, sans-serif;
    
}

body {
    /* background-image: url(/img/wallpaper4.jpg); */
    background-color: #5f2c3e;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: none;
    background-size: 100%;
}

/* ---------Header section--------- */

.nav-bar{
    background-color: #4b001f;
    width: 100%;
    height:120px;
    position: absolute;
    /* box-shadow: 0px 4px 10px #aaaaaa;  */
}


nav ul {
    text-align-last: center;
}

nav ul li {
    display: inline-block;
    padding: 5px 25px;
    
}

nav ul li a{
    text-decoration: none;
    color: #ffffff80;
    font-size: 22px;
}

nav ul li a:hover{
    color: #ffffffff;
}

.logo h1 {
    font-family: 'Satisfy', cursive, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    text-align: center;
    color: #ffffffff;
}

nav .active{
    color: #ffffffff;
}


/* ---------Footer section--------- */

footer {
    width: 100%;
    height: 80px;
    background-color: #4b001f;
    position: relative;
    box-sizing: border-box;
    bottom: 0;
    margin-bottom: 0%;
}

footer div {
    padding: 10px 25px;
}

footer div p {
    color: #ffffff80;
    font-size: 20px;
}

.footer-logo {
    float: left;
}

.footer-logo a {
    text-decoration: none;
    color: #ffffff80;
    font-size: 28px;
    font-weight: 400;
}

.footer-logo a:hover {
    color: #ffffffff;
}

.info {
    float: right;
}


/* Media Quereys */

@media (max-width: 768px) {
    main {
        margin: 0px 18%;
  }
}