/* ---------Main section--------- */

main {
    margin: 0px 25%;
    padding: 8em 30px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0px 0px 60px 10px #eee5e5;  */

}

.block {
    margin-bottom: 25px;

}

main h1 {
    font-size: 35px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
}

main div h2{
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
}

main div img {
    max-width: 100%;
    height: auto;
    padding: 5px 0px;
}

main div p {
    font-size: 20px;
    font-weight: 400;
    color: #646569;
}
