main {
    margin: 0px 60px;
    padding: 9.4em 0px 40px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px 5px #3a313f;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10%;
    row-gap: 40px;
    justify-content: center;
    margin: 1% 0px 2%;
  }
.grid-item {
    text-align: center;
    margin: 10px 0px 20px;
    color: aliceblue;
    font-size: 20px;
  }

.grid-item img {
    box-shadow: 0px 0px 20px 5px #3a313f;
}

.grid-item, .grid-item img {
  max-width: 540px;
    height: 350px;
    border-radius: 30px;
}

.grid-item img:hover {
    box-shadow:  0px 0px 20px 5px rgba(255, 255, 255, 0.9);
}

.grid-container p {
  text-align: center;
  font-size: 23px;
  position: absolute;
  padding: 0px 170px;
}

.quote {
  font-size: 30px !important;
  padding: 25% 0px 25% !important;
  position: relative !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

@media (max-width: 768px) {
 .grid-container{
  grid-template-columns: auto;
  margin: 1% 0px 15%;
 }

 .grid-item, .grid-item img {
  height: 300px;
  max-width: 400px;
}

}

